fastapi==0.104.1
uvicorn==0.23.2
python-dotenv==1.0.0
pymongo==4.5.0
pdfplumber==0.10.2
google-generativeai==0.3.1
certifi==2023.7.22
bcrypt==4.0.1
python-multipart==0.0.6
email-validator==2.1.0
pydantic==2.4.2
pydantic-core==2.10.1
bson==0.5.10